body {
    display:flex; 
    flex-direction: column;
    background-color: #f4f4f4; 
}

#container {
    display:flex; 
    align-content:center; 
    justify-content: center;
    font-family: Arial, sans-serif;
    height:100%; 
}

#dynamicOptions {
    display : flex; 
}

#chartViewContainer{
    display: flex;
    justify-content:center; 
    width:70%;  
    padding: 20px;
    margin:5%;
    height: 75%; 
    background: white; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex-wrap:wrap;
    overflow:auto; 
}

#scaleOption{
    margin-left:1%; 
}

.gaugeCanvas {
    flex: 0 0 25%; /* Subtract the total horizontal margins from the width */
    max-width: 25%; /* Do not grow, do not shrink, take up roughly one third */
    margin:1%; 
    max-height:50%; 
    overflow:visible !important; 
}






