body{
    display:block; 
}
#container{
    display: flex; 
    justify-content:space-between;

}

#myChart{
    max-width:1000px; 
    max-height:400px; 
}
#chartContainer {
    display:flex;
    flex-direction: column;
    justify-content:center; 
    width : 70%; 
    height : 50%; 
    border: 5px outset rgba(6,22,33,0.95);
    border-radius: 0px 40px 0px 40px;
    padding-left:5%; 
    padding-right:5%; 
    margin-right:2%; 
}

#chartContainer h3{
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 19px;
letter-spacing: 0px;
word-spacing: 1.8px;
color: #8400FF;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: uppercase;
align-self:center; 
}

#demo{
    width:20%; 
    justify-self: center;
    border: 5px outset rgba(6,22,33,0.95);
    border-radius: 40px 0px 40px 0px;
}

#scaleOption{
    margin-left:1%; 
}

#dataVisuals{
    display:flex; 
    flex-direction: row;
    justify-content: center;
    align-content:center; 
}

canvas{
    width:50%; 
}

#customTooltip {
    width:60%; 
    height:40%; 
    align-self:center; 
}

#userSelection {
    display:flex; 
    flex-wrap:wrap; 
}

.userChoice{
    flex:1 1 50%; 
    margin:0px; 
}

